@page
@model SocialNetwork.Pages.Account.ProfileModel
@{
	Layout = "..\\Shared\\_LayoutIndex.cshtml";
}
<div class="container">
	@if (Model.NotFound)
	{
		<h1>Профиль не найден!</h1>
	}
	else
	{
		<div class="row bg-light">
			<div class="col-md-3 col-sm-12 d-flex align-items-center">
				<img src="@Model._User.ImageUrl" alt="У вас нет аватара" class="img-fluid" style="width: 200px; height: 200px; object-fit: contain;">
			</div>
			<div class="col-md-6 col-sm-12 text-start d-flex align-items-center">
				<h2 style="font-size: 32px;">
					@Model._User.Name_1
					@Model._User.Name_2
					@Model._User.Name_3
				</h2>
			</div>
			<div class="col-md-3 col-sm-12 d-flex flex-row-reverse align-items-center" style="margin-bottom: auto;">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Действия</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							@if (@User.FindFirst("id").Value.ToString() == @Model._User.Id)
							{
								<li><a class="dropdown-item" href="/messenger/chat?id=-1">Написать самому себе</a></li>
							}
							else
							{
								<li><a class="dropdown-item" href="/messenger/chat/new?id_user=@Model._User.Id&type=chat">Написать сообщение</a></li>
								<li><a class="dropdown-item" href="#">Добавить в друзья</a></li>
							}
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="news-block">
					<h4>Стена</h4>
					<ul>
						<li class="news-item"><a href="#">Лол</a></li>
						<li class="news-item"><a href="#">Кек</a></li>
						<li class="news-item"><a href="#">Чебурек</a></li>
					</ul>
				</div>
			</div>
		</div>
	}
</div>

<style>
	.news-block {
		height: auto;
		min-height: 100px;
		margin-bottom: 30px;
	}

	.news-item {
		display: block;
		padding: 10px;
		border: 1px solid #ccc;
		margin-bottom: 10px;
	}

	.profile-block {
		min-height: 200px;
	}

	.profile-block-left {
		float: left;
		width: 50%;
	}

	.profile-block-right {
		float: right;
		text-align: right;
		width: 50%;
	}
</style>